@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
:root {
    --cor-de-fundo: #eeebee;
    --branco: #ffffffad;
    --rosa: #eb00df;
    --azul-degrade: linear-gradient(97.54deg, #520044 35.49%, #323b89 165.37%);
    --fonte-principal: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 25px;
    font-weight: 400;
}

a {
    text-decoration: none;
}
